* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	/**/
}

.title {
	/**/
}

.links-header {
	/**/
}

.links-header ul {
	/**/
}

.links-header a {
	/**/
}

.intro-container {
	/**/
}

.intro-text {
	/**/
}

.intro-text.title {
	/**/
}

.intro-text.text {
	/**/
}

.signup-button {
	/**/
}

.intro-image {
	/**/
}

.images-container {
	/**/
}

.images-title {
	/**/
}

.images-frame {
	/**/
}

.images-footer {
	/**/
}

.quote {
	/**/
}

.quote.text {
	/**/
}

 .quote.source {
	/**/
 }

 .signup-container {
	/**/
 }

 .signup-text {
	/**/
 }

 .signup-text.title {
	/**/
 }

 .signup-text.body {
	/**/
 }

 .signup-button.border {
	/**/
 }

 .footer {
	/**/
 }